
  


.app__header {
    background-color: var(--color-black);
}

.app__header-h1 {
    font-family: var(--font-base);
    color: var(--color-golden);
    font-weight: 600;
    letter-spacing: 0.03em;
    text-transform: capitalize;
    line-height: 117px;
    font-size: 80px;
    
}




button{
    animation: vibrate-fast 0.2s linear 6s 50 normal none;
}
@keyframes vibrate-fast {
			
    0% {
        transform:translate(0);
    }
    10% {
        transform:translate(-2px,-2px);
    }
    20% {
        transform:translate(2px,-2px);
    }
    30% {
        transform:translate(-2px,2px);
    }
    40% {
        transform:translate(2px,2px);
    }
    50% {
        transform:translate(-2px,-2px);
    }

}




@media screen and (min-width: 2000px) {
    .app__header-h1 {
        font-size: 180px;
        line-height: 210px;
    }
}

@media screen and (max-width: 1150px) {
    .app__header-h1 {
        font-size: 90px;
    }

    .section__padding {
        padding-top: 0rem !important; 
    }
    
}

@media screen and (max-width: 650px) {
    
    .app__header-h1 {
        font-size: 70px;
        line-height: 87px;
    }
    
}

@media screen and (max-width: 450px) {
    .app__header-h1 {
        font-size: 50px;
        line-height: 70px;
    }
}